*{
    padding: 0;
    margin: 0;
    
    }

    .navbar{
        display: flex;
        margin-right: 2rem;
        justify-content: right;
        width: 100%;
        
     box-shadow: 1px 1px 5px #000;
position: fixed;
background: rgba(190,49,68);

}

.navbar ul {
    display: block;
    padding: 2rem;  
 

        

}

.navbar ul a{
    font-size: 2.2rem;
    padding: 2rem;
color: rgba(240,240,240);
text-decoration: none;




}
.navbar ul a:hover{

    background-color: #45567d;
    
}
.section1{

background: rgba(32,32,34);
height: 100vh;
width: 100%;
}